html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container {
  padding: 60px 15px 0;
}

#nav {
  padding: 15px 0px;
}

.container {
  padding: 20px 20px;
}

.fa-car {
  color: white;
  padding-left: 20px;
}

#footer {
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

#contactUs {
  padding-left: 25px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}